<div class="list-group  py-3">
  <h1 class="display-5 fw-bold d-flex justify-content-center ">Welcome To Quiz App</h1>
  <img src="https://cdn-icons-png.flaticon.com/512/3406/3406828.png" class="rounded mx-auto d-block" width="100" height="100" alt="">
  <p class="col-md-8 fs-4 d-flex justify-content-center">This quiz will contains total 9 question. Each Question holds 10 point</p>
  <h4 d-flex justify-content-center>Rules :</h4>

  <ol>
    <li>Correct Question gives you 10 points</li>
    <li>Incorrect question qives to -10points</li>
    <li>You will have 60 sec to answer each question</li>
    <li>Refereshing the page will reset the Quiz</li>
  </ol>
  <h1 style="font-family: cursive;text-align: center;">All the best!!!</h1>
  <div class="name col-md-4 my-3">
    <label>Enter your name</label>
    <input type="text" #name class="form-control">

  </div>

  
</div>

<button class="btn btn-lg btn-primary" routerLink="/question" (click)="startQuiz()">Start the Quiz !</button>

